// Variables

// My Palette

$myrtleGreen: #2C6072;
$inchWorm: #B5F44A;
$darkTerraCotta: DB5461;
$dimGray: #686963;
$cadetGrey: #8AA29E;

$dollarBill: #81C141;
$blackOlive: #393E42;
$darkImperialBlue: #093E63;
$pictonBlue: #4BB2FC;
$aliceBlue: #F3F9FF;

// Main color
$primary-color: $myrtleGreen;

// Anchor color
$secondary-color: $pictonBlue;

// Font color
$font-color: $aliceBlue;



$social-buttons-color: $secondary-color;

// The Header & Intro

$navbar-text-shadow: false;
$header-text-shadow: false;
$header-background-color: $darkImperialBlue;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;
$navitem-hover-bg-color: $blackOlive;
$navitem-active-bg-color: $font-color;

$intro-text-font: "Courier New";
$intro-text-color: $pictonBlue;