// COLORS
//main = #005F97
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333

mainBlack = #000000
mainWhite = #FFFFFF

// new colour palette
lapisLazuli = #247BA0
darklLiver = #50514F
sunsetOrange = #F25F5C
mustard = #FFE066
greenSheen = #70C1B3

// keith-mifsud 08816

myrtleGreen = #2C6072
inchWorm = #B5F44A
darkTerraCotta = DB5461
dimGray = #686963
cadetGrey = #8AA29E





main = myrtleGreen


// Resolution
cut = 37.5rem



