// COLORS
main = #005F97
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333

mainBlack = #000000
mainWhite = #FFFFFF

// new colour palette
main = #247BA0
darklLiver = #50514F

// Resolution
cut = 37.5rem



